<hr />
    <footer>
      <p><a href="https://github.com/BIO2CS" target="_blank">Joan Gu</a> 2016</p>
    </footer>

    <script src="/javascripts/jquery-3.1.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>